<div class="row">
    <div class="col-6 text-center">
        {{#each burgers}}
        {{#unless devoured}}
        <p>
            {{id}}. {{burger_name}}
            <button class="not-devoured" data-id="{{id}}">
                Devour it!
            </button>
        </p>
        {{/unless}}
        {{/each}}
    </div>

    <div class="col-6 text-center">
        {{#each burgers}}
        {{#if devoured}}
        <p>
            {{id}}. {{burger_name}}
        </p>
        {{/if}}
        {{/each}}
    </div>
</div>