<div class="container">

    <div class="d-flex justify-content-center">
        <h1>Eat-A-Burger!</h1>
    </div>

    <div class="row">
        <div class="col-6">
            {{#each burgers}}
            {{#unless devoured}}
            <p>
                {{id}}. {{burger_name}}
                <button class="not-devoured" data-id="{{id}}">
                    Devour it!
                </button>
            </p>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            {{#each burgers}}
            {{#if devoured}}
            <p>
                {{id}}. {{burger_name}}
            </p>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <form class="create-form">
            <div class="form-group">
                <input type="name" class="form-control" id="newBurgerName">
                <small id="nameHelp" class="form-text text-muted">Enter a burger you want to eat and then click the
                    "Submit" button.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>